/************************** Raleway Font Style *************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body{
    /* font-weight: var(--f500); */
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

/************************** Colour Variables ***************************/
:root{
    --primary: #009245;
    --secondary: #23272b;
    --ternary: #F5F5F5;
    --black: #000000;
    --white: #ffffff; 
    --f300: 300;
    --f400: 400;
    --f500: 500;
    --f600: 600;
    --f700: 700;
}

/************************** Utility Classes ***************************/
ul{
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
}

a,
a:hover,
a:focus,
a:active{
    font-family: 'Raleway', 'sans-serif';
    text-decoration: none;
}
.nav-link,
.nav-link:focus,
.nav-link:active,
.nav-link:hover{
    color: var(--black);
}
.form-control{
    transition: border-color 0.3s ease-in;
}
.form-control:active,
.form-control:focus{
    box-shadow: none;
    border: 1px solid var(--primary);
}
.custom-btn,
.custom-btn:focus{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: var(--primary);
    color: white;
    outline: none;
    cursor: pointer;
}
.blog-btn{
    padding: 1px 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
.margin{
    margin: 50px 0;
}
.margin-top{
    margin-top: 50px;
}
.margin-bottom{
    margin-bottom: 50px;
}
.padding{
    padding: 50px 0;
}
.heading-title{
    font-weight: var(--f600);
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 0.9;
}
/************************** Utility Classes End ***************************/
/************************** Navigation Bar **************************/
#navigation-bar{
    background-color: var(--white);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 9px 11px -9px #a8a9aa;
}
#navigation-bar .navbar{
    padding-top: 15px;
    padding-bottom: 15px;
}
#navigation-bar .nav-link{
    padding: 8px 14px;
    font-size: 18px;
    margin: 0 2px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    color: var(--black);
    cursor: pointer;
}
#navigation-bar .nav-link:hover{
    color: var(--white);
    background-color: var(--primary);
}
#navigation-bar .nav-item .dropdown:hover .dropdown-menu{
    display: block;
}
#navigation-bar .dropdown .dropdown-item:active,
#navigation-bar .dropdown .dropdown-item:hover{
    background-color: var(--primary);
    color: var(--white);
}
#navigation-bar .custom-signin-btn{
    background-color: var(--primary);
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 22px;
    margin-left: 18px;
    color: var(--white);
    cursor: pointer;
}
#signupModal .multiselect-native-select .btn-group{
    width: 100%;
}
/************************** Navigation Bar End **************************/

/************************** Hero Section **************************/
#hero-section{
    padding: 80px 0;
    background-image: url('../images/bn1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
}
#hero-section .hero-img{
    margin-top: 64px;
    position: relative;
    width: 100%;
    height: 400px;
}
#hero-section .hero-img img{
    position: absolute;
    width: 100%;
    height: 100%;
}
#hero-section .hero-content{
    background-color: rgb(245, 245, 245);
    padding: 30px 20px;
    margin-bottom: 20px;
    position: relative;
}
#hero-section .hero-content h1{
    color: var(--primary);
    font-weight: var(--f600);
}
#hero-section .hero-content p{
    margin-top: 10px;
    font-size: 18px;

}
#hero-form{
    margin-top: 20px;
}
#hero-form div{
    flex: 20%;
}  
#hero-section #phoneNumber select{
    border-radius: 4px 0 0 4px;
    outline: none;
    border: none;
}
#hero-section #phoneNumber input{
    border-radius: 0 4px 4px 0;
}
#hero-form .multiselect-native-select .btn-group{
    width: 100%;    
}
#hero-form .multiselect-native-select .btn-group button{
    height: 42px;
}

#form-disclaimer span{
    color: var(--white);
    background-color: var(--black);
    padding: 2px 6px;
}
/************************** Hero Section End **************************/

/************************** Coverage Section Start ********************/
#coverage-section{
    background: url('../images/worldmap.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#coverage-section .coverage-section-overlay{
    background-color: rgb(0, 0, 0, 0.6);
    padding-top: 20px;
}
#coverage-section .heading-title{
    color: var(--white);
}
#coverage-section .coverage-section-items{
    margin-top: 20px;
}
#coverage-section .item:nth-child(even) .item-inner{
    margin-top: 180px;
}
#coverage-section .item-inner{
    width: 100%;
    text-align: center;
    position: relative;
    transition: all 0.3s ease-in;
}
#coverage-section .item-overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    background-color: var(--primary);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-top: 72px;
    visibility: hidden;
    transition: background-color 0.3s ease-in;
}
#coverage-section .item-inner:hover .item-overlay-content{
    visibility: visible;
}
#coverage-section .item-overlay-inner-content li{
    font-size: 18px;
}
#coverage-section .item .item-name > p{
    color: var(--white);
    font-size: 22px;
    margin-top: 14px;
    text-align: center;
}

#coverage-section .item .item-inner img{
    width: 90%;
    border-radius: 50%;
    border: 6px solid var(--primary);
    margin-bottom: 10px;
}
/************************** Coverage Section Ends ********************/

/************************** Free Subscription Section *****************/
.free-subscrition-section {
    background-color: var(--primary);
    color: var(--white);
}
.free-subscrition-section h3{
    position: relative;
}
.free-subscrition-section h3::after{
    position: absolute;
    content: 'No Credit Card Required';
    bottom: -60%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 16px; 
    color: var(--ternary);  
}
.free-subscrition-section .custom-btn{
    background-color: var(--white);
    color: var(--primary);
    padding: 10px 0;
    width: 50%;
    display: block;
    margin-left: auto;
}
.free-subscrition-section #myModal{
    color: var(--black);
}

.free-subscrition-section .multiselect-native-select .btn-group{
    width: 100%;
}
/************************** Free Subscription Section End *****************/

/************************** Blog Section *************************/
#blog-section .blog-information > span:nth-child(1){
    margin-right: 4px;
}
#blog-section .blog-information > span i{
    padding: 2px;
    color: var(--primary);
}
#blog-section .blog-information > span >span{
    font-weight: 400;
}
#blog-section .blog-content{
    border: 1px solid var(--primary);
    padding: 6px;
    border-radius: 4px;
    transition: background 0.3s ease-in;
}
#blog-section .blog-content:hover{
    background-color: var(--ternary);
}
#blog-section .blog-content h3{
    font-size: 22px;
}
#blog-section .heading-title{
    margin-bottom: 10px;
}
#blog-section h2{
    background-color: var(--primary);
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 4px;
    padding: 2px 0;
}

#blog-section .more-blog-btn{
    margin-bottom:16px;
}

/***************XX*********** Blog Section End *************XX************/


/**************************** Service Section **************************/
#services-section{
    background-color: var(--ternary);
}
#services-section .services-heading{
    color: var(--primary);
    font-weight: var(--f600);
}
#services-section .services-content-inner li{
    list-style: none;
    padding: 2px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#services-section .services-content-inner li i{
    color: var(--primary);
    padding-right: 10px;
    font-size: 30px;
}
/***************XX************* Service Section End *************XX*************/

/****************************** Twitter Section ***************************/
#twitter-feed .twitter-content{
    border: 1px solid black;
    height: 200px;
    margin-bottom: 20px;
}
/***************XX*************** Twitter Section End ***********XX****************/


/**************************** Footer Section *****************************/
.footer-read-more{
    display: none;
}
.footer-read-more-btn{
    padding: 2px;
    cursor: pointer;
    color: var(--primary);
}
#footer-section{
    background-color: var(--secondary);
    color: var(--white);
    padding-top: 40px;
}
#footer-section .footer-content-heading{
    position: relative;
}
#footer-section .footer-content-heading::after{
    position: absolute;
    content: '';
    width: 42%;
    height: 2px;
    bottom: -5px;
    left: 0%;
    background-color: var(--primary);
}
#footer-section .footer-content-desc, #footer-section .footer-content ul{
    font-weight: 100;
}
#footer-section .footer-content li a{
    color: var(--white);
    padding: 1px 0;
    transition: all 0.3s ease-in;
}
#footer-section .footer-content a:hover{
    color: var(--primary);
}


/****************XX************ Footer Section ***************XX**************/

/****************************** Footer Footer Section ******************************/
#footer-footer-section{
    background-color: var(--black);
    color: var(--white);
    font-weight: 100;
}
/****************XX************** Footer Footer Section **************XX****************/

/******************************** AgPulse Socials *************************************/
#AgPulseSocials{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#AgPulseSocials li a{
    display: inline-block;
    width: 60px;
    padding: 6px 10px ;
    transform: translateX(18px);
    transition: transform 0.2s ease-in;
}
#AgPulseSocials li a.twitter{
    background-color: #19b4f0;
}
#AgPulseSocials li a.linkedin{
    background-color: #2683B1;
}
#AgPulseSocials li a.mail{
    background-color: #d8584c;
}
#AgPulseSocials li a.whatsapp{
    background-color: var(--primary);
}
#AgPulseSocials li a.phone{
    background-color: #E9AE48;
}
#AgPulseSocials li a:hover{
    transform: translateX(0);
}
#AgPulseSocials li a i{
    font-size: 20px;
    color: var(--white);
}
/*******************XX************* AgPulse Socials Ends ****************XX*********************/


/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX BLOGS CSS XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
#blog-page{
    margin-top: 72px;
    padding-bottom: 80px;
    background-color: var(--ternary);
}

#blog-page .heading-title{
    padding: 40px 0;
    background-color: var(--primary);
    color: var(--white);
}
#blog-page .blog-container .blog-heading{
    color: var(--primary);
}
#blog-page .blog-information > span:nth-child(1){
    margin-right: 4px;
}
#blog-page .blog-information > span i{
    padding: 2px;
    color: var(--primary);
}
#blog-page .blog-information > span >span{
    font-weight: 400;
}
#blog-page .blog-container{
    background-color: var(--white);
    padding: 20px;
}
#blog-page .blog-content .blog-container p{
    margin-top: 6px;   
}
#blog-page hr{
    margin-bottom: 20px;
}

#blog-sidebar .search-post-container, #blog-sidebar .recent-post-container{
    background-color: var(--white);
    padding: 20px;
}
#blog-sidebar .search-post-container .input-group-btn .btn{
    border-radius: 0 4px 4px 0;
}
#blog-sidebar .recent-post-container{
    height: 782px;
    overflow-x: scroll;
}
#blog-sidebar h4{
    font-size: 20px;
    font-weight: 700;
    padding-left: 5px;
    border-left: 3px solid var(--primary);
}
#blog-sidebar .recent-post-container .blog-content > p{
    font-size: 14px;
} 
