/**************** utility classes *****************/
.heading-title{
    position: relative;
    color: var(--primary);
}

.heading-title::after{
    position: absolute;
    content: '';
    bottom: -2px;
    left: 18%;
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background-color: var(--primary);
    /* background-color: var(--black); */
}

/************************ Team Page *************************/
#ourteam,#whoweare,#whatwedo{
    margin-top: 130px;
}
#ourteam .member{
    background-color: var(--ternary);
    padding: 20px 10px;
    border-radius: 10px;
}
#ourteam .member-profile img{
    border-radius: 50%;
    width: 350px;
}
#ourteam .member-text-heading{
    color: gray;
}
#ourteam .member-text{
    margin-top: 20px;
    margin-left: 50px;
}
/***************XX********* Team Page Ends ************XX*************/

/***********************************************************************************/
/**********************              About Us Inner Page                 ***********/
/***********************************************************************************/
#whoweare, #whatwedo{
    margin-bottom: 60px;
}

/*****************XX****************** About Us Inner Page Ends **************XX*************/

/************************************* Subscriber's Agreement Page **************************/
#sub-agree,#disclaimer, #terms-of-use, #privacy-policy{
    margin-top: 72px;
}
#disclaimer{
    height: 70vh;
}
#sub-agree .sub-heading-title, #disclaimer .sub-heading-title, #terms-of-use .sub-heading-title, #privacy-policy .sub-heading-title{
    background-color: var(--ternary);
    padding: 40px 0;
    display: block;
    width: 100%;
    text-align: center;
}
#sub-agree .sub-agree-content u{
    font-weight: 700;
    font-size: 20px;
}
/*****************XX******************** Subscriber's Agreement Page **********XX****************/

/********************************************** Subscribe Page ***********************************/
#subscribe{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#subscribe img{
    width: 50px;
    height: 50px;
    margin-top: 6px;
    display: block;
}
#subscribe .international img{
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#subscribe .button{
    border: 2px solid var(--primary);
    background-color: var(--ternary);
    color: black;
    padding: 20px 80px;
    margin: 4px;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;    
    transition: all 0.3s ease-in;
}
#subscribe .india, #subscribe .international{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#subscribe .button:hover{
    background-color: var(--primary);
    color: var(--white);
}
/**********************XX******************** Subscribe Page End ***************XX****************/
/******************************************** India Page/International Page ****************************************/
#india-page{
    margin-top: 100px;
}
#india-page .sub-heading{
    border-bottom: 2px solid var(--black);
}
#india-page.services-heading{
    color: var(--primary);
    font-weight: var(--f600);
}
#india-page .services-content-inner li{
    list-style: none;
    padding: 2px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#india-page .services-content-inner li i{
    color: var(--primary);
    padding-right: 10px;
    font-size: 30px;
}
#india-page .form form{
    width: 100%;
}
#india-page .form .line sup{
    font-size: 18px;
    font-weight: 500;
    color: red;
}
#india-page .form form p{
    margin: 0;
}
#india-page .form .product-card{
    border: 2px solid var(--primary);
    border-radius: 8px;
}
#india-page .product-card .card-heading{
    background: var(--primary);
    color: var(--white);
    padding: 8px 0;
}
#india-page .product-card .card-heading span{
    font-size: 14px;
}
#india-page .yearly-price, #india-page .quaterly-price{
    font-size: 20px;
    font-weight: 600;
    /* color: var(--primary); */
   
}
#india-page .quaterly,#india-page .yearly{
    transition: all 0.3s ease-in;
    cursor: pointer;
}
#india-page .quaterly:hover, #india-page .yearly:hover{
    color:var(--primary);
}
/***********************XX********************* India Page End ******************XX**********************/

/********************************************** Payment India Page *******************************************/
#paymentind{
    margin-top: 100px;
}
#paymentind .payment-heading{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 15px;
    display: inline-block;
    border-bottom: 2px solid var(--black);
}
#paymentind form sup{
    top: 6px;
    font-size: 30px;
    color: red;
}
/********************************************** Payment India Page End*******************************************/

