/**************** utility classes *****************/
.heading-title{
    position: relative;
    color: var(--primary);
}

.heading-title::after{
    position: absolute;
    content: '';
    bottom: -2px;
    left: 18%;
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background-color: var(--primary);
    /* background-color: var(--black); */
}

/************************ Team Page *************************/
#ourteam,#whoweare,#whatwedo{
    margin-top: 130px;
}
#ourteam .member{
    background-color: var(--ternary);
    padding: 20px 10px;
    border-radius: 10px;
}
#ourteam .member-profile img{
    border-radius: 50%;
    width: 350px;
}
#ourteam .member-text-heading{
    color: gray;
}
#ourteam .member-text{
    margin-top: 20px;
    margin-left: 50px;
}
/***************XX********* Team Page Ends ************XX*************/

/***********************************************************************************/
/**********************              About Us Inner Page                 ***********/
/***********************************************************************************/
#whoweare, #whatwedo{
    margin-bottom: 60px;
}

/*****************XX****************** About Us Inner Page Ends **************XX*************/

/************************************* Subscriber's Agreement Page **************************/
#sub-agree{
    margin-top: 72px;
}
#sub-agree .sub-heading-title{
    background-color: var(--ternary);
    padding: 40px 0;
    display: block;
    width: 100%;
    text-align: center;
}
#sub-agree .sub-agree-content u{
    font-weight: 700;
    font-size: 20px;
}
/*****************XX******************** Subscriber's Agreement Page **********XX****************/

/********************************************** Subscribe Page ***********************************/
#subscribe{
    margin-top: 72px;
}
#subscribe .sub-heading-title{
    margin: 30px 0;
    border-bottom: 3px solid var(--black);
    font-size: 30px;
}
#subscribe .services-heading{
    color: var(--primary);
    font-weight: var(--f600);
    font-size: 24px;
}
#subscribe .services-content-inner li{
    list-style: none;
    padding: 2px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}
#subscribe .services-content-inner li i{
    color: var(--primary);
    padding-right: 10px;
    font-size: 24px;
}
#subscribe .package .tabs{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid var(--primary);
    border-right: 1px solid  var(--primary);
    border-left: 1px solid  var(--primary);
}
#subscribe .package .tablinks{
    flex: 50%;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    color: var(--black);
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#subscribe .package .tablinks:hover{
    background-color: var(--primary);
    color: var(--white);
}
#subscribe #India{
    border-bottom: 1px solid  var(--primary);
    border-right: 1px solid  var(--primary);
    border-left: 1px solid  var(--primary);
    padding-top: 26px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
#subscribe #India .form-check-input{
    cursor: pointer;
}
#subscribe #India .form-check-input:focus
,#subscribe #India .form-check-input:active{
    /* color: var(--primary); */
    background-color: var(--primary);
}
/**********************XX******************** Subscribe Page End ***************XX****************/
